/* ----------- VARIABLES    */
	@color_primario:#e07134;
	@color_secundario:#7c330a;
	@color_terciario:#d9d9d9;	
	@color_black:#000;
	@color_white:#fff;

/* ----------- FUENTES      */ 
	body,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.mont{
		font-family: 'Montserrat', sans-serif;
	}
	/*Montserrat:200,300,400,500,600,700,800,900*/
	/*Oswald:200,300,400,500,600,700*/
	.oswald{
		font-family: 'Oswald', sans-serif;
	}
	body{font-size: 14px;}
	h1{
		color:@color_secundario;
		font-size: 30px!important;
		font-weight:800;
	}
	h3{
		color:@color_secundario;
		font-size: 30px!important;
		font-weight:500;
	}

/* ----------- COLORES      */
	a,
	a:hover,
	.uk-navbar-dropdown-nav>li>a,
	.color-general{
		color: black;
	}
	em,
	.buybutton,
	.uk-navbar-dropdown-nav>li>a:hover,
	.color-primary,
	.color-primary-hover:hover{
		color: @color_primario;
	}
	.buybutton:hover,
	.social,
	.color-secondary{
		color: @color_secundario;
	}
	.color-terciario{
		color: @color_terciario;
	}
	.color-verde{
		color: #22cf5b;
	}
	.color-rojo{
		color: #c4262e;
	}
	.color-rojo-vivo{
		color: #ff0000;
	}
	.color-gris-9{
		color: #8c8b8b;
	}
	.color-gris-7{
		color: #777;
	}
	.color-gris-6{
		color: #666;
	}
	.color-gris-4{
		color: #444;
	}
	.color-gris{
		color: #a7a6a4;
	}
	.color-gris-3{
		color: #333;
	}
	.color-gris-2{
		color: #222;
	}
	.color-gris-a,
	.color-gris-a:hover{
		color: #a6a8ab;
	}
	.color-gris-d{
		color: #ddd;
	}
	.uk-accordion-title:focus,
	.uk-accordion-title:hover,	
	.color-blanco,
	.color-blanco:hover{
		color: white;
	}
	.uk-slidenav,
	.color-negro{
		color: black;
	}

/* ----------- FONDOS       */
	.bg-primary{
		background: @color_primario;
	}
	.ajax-file-upload{
		background: @color_primario!important;
	}
	.bg-secondary{
		background: @color_secundario;
	}
	
	.uk-slidenav,
	.bg-none{
		background: none;
	}
	.bg-danger,
	.bg-red{
		background: #e30613;
	}
	.bg-success{
		background: #32d296;
	}
	.bg-blue{
		background: #1e87f0;
	}
	.bg-warning,
	.bg-yellow{
		background: #f6b61a;
	}

	.uk-navbar-dropdown,
	.bg-white{
		background: white;
	}
	.bg-gris-claro{
		background: #DDD;
	}
	.bg-gris{
		background: #888;
	}
	.uk-subnav-pill > .uk-active > a,
	.bg-gris-oscuro{
		background: #444;
	}
	.bg-black{
		background: black;
	}

	.bg-dark{
		background: rgba(0,0,0,.8);
	}
	.bg-oscuro{
		background: rgba(0,0,0,.5);
	}
	.bg-claro{
		background: rgba(250,250,250,.7);
	}

	.bg-test1{
		background: #ff0;
	}
	.bg-test2{
		background: #f0f;
	}
	.bg-test3{
		background: #0ff;
	}
	.grayscale{
		filter: grayscale(100%);
	}
	.grayscale:hover{
		filter: grayscale(0%);
		transition: .5s;
	}

/* ----------- NAVEGACIÓN   */
	.uk-navbar-nav > li > a,
	.uk-navbar-item,
	.uk-navbar-toggle {
		border-bottom: solid 3px transparent;
		color: black;
		font-family: 'Lato', sans-serif;
		font-size: 1em;
		padding: 0 20px;
		min-height: 50px;
		text-transform: capitalize;
	}
	.uk-navbar-nav > li.uk-active > a,
	.uk-navbar-nav > li:hover > a,
	.uk-navbar-nav > li > a:focus,
	.uk-navbar-nav > li > a.uk-open {
		border-bottom: solid 3px @color_primario;
		color: black;
		outline: none;
	}
	.uk-navbar-dropdown-nav{
		text-align: left;
	}
	.uk-navbar-dropdown {
		margin: 0;
	}
	.uk-navbar-dropdown-nav>li>a{
		font-size: 18px;
		margin: 0;
		padding-left: 5px;
	}


	/* Off canvas */
	.uk-offcanvas-bar{
		background: @color_primario;
		width: 100vw;
    	height: 100vh;
	}
	.uk-offcanvas-bar a{
		border-bottom:solid 4px  @color_primario;
		color: #CCC;
		background: @color_primario;
		font-size:40px!important;
		text-align: left;
		padding-left: 0!important;
	}

	.uk-offcanvas-bar a:hover{
		color:#fff!important;
		background: @color_primario;
		border-bottom:solid 4px @color_white;
	}

	.uk-offcanvas-bar li{
		border-radius: 10px;
		margin-top: 5px;
	}

	.uk-offcanvas-bar,
	.uk-offcanvas-bar li,
	.uk-offcanvas-bar li a{
		color:@color_secundario!important;
		font-size:50px!important;
		text-align:left;
		.oswald;
	}

	.uk-offcanvas-bar li ul{
		margin-top: -30px!important;
	}

	.uk-offcanvas-bar li ul li{
		display:inline-block; 
		vertical-align: middle;
		padding-left:0;
		margin-left:20px!important;
	}

	.uk-offcanvas-bar li ul li a{
		.mont;
		font-size:24px!important;
		text-align: left!important;
		margin:0;
		padding:0;
		margin-left: -6px;
	}

	.uk-offcanvas-bar li ul li a div{
		background: #fff;
	    background-position: center;
	    background-size: contain;
	    border-radius: 100%;
	    border: solid 1px @color_secundario;
	    height: 30px;
	    width: 30px;
	    display: inline-block;
	    vertical-align: middle;
	    margin:0;
	    padding:0;
	    margin-left: -6px;
	}
	.uk-offcanvas-bar li ul li a:hover div{
		border: solid 1px #fff;
	}
	.uk-offcanvas-bar .uk-nav-sub a{
		padding-left: 20px;
	}
	.uk-offcanvas-close {
	    position: relative;
	    z-index: 1000;
	    top: 0;
    	right:0;
	    padding: 5px;
	    svg{
	    	color: #fff;
	    	width:20px;
	    }
	}

/* ----------- TEMPLATE     */
	.menu_hamburguesita{
		color:#e07134;
		a{
			i{
				font-size:20px;
			}
		}
	}
	.for_pc{
		display: block;
	}
	.for_movil{
		display: none
	}
	.font-primary{
		color: @color_primario;
	}
	.font-secundario{
		color: @color_secundario;
	}

	.input-personal,
	.input-personal:focus{
		.oswald;
		font-weight: 300;
		color: @color_white;
		border: solid 1px @color_primario;
		background:  @color_primario!important;
		border-bottom:solid 2px @color_white;
		-webkit-box-shadow: 0px 6px 0px 0px rgba(124,51,10,1);
		-moz-box-shadow: 0px 6px 0px 0px rgba(124,51,10,1);
		box-shadow: 0px 6px 0px 0px rgba(124,51,10,1);
		&::placeholder{
			color: @color_white;
		}
	}

	.pad-marg-0{
		margin: 0!important;
		padding:0!important;
	}
	.full{
		height:100vh;
		width: 100vw;
	}
	.half{
		height:50vh;
		width: 100vw;
	}

	.title_pestana{
		margin-top: -120px; 
		z-index: 1;
		.title_pestana_container{
			background:#fff; 
			border-radius: 20px 20px 0 0; 
			border-bottom:solid 6px #7c330a;
			-webkit-box-shadow: 0px -1px 2px 0px rgba(153,153,153,1);
			-moz-box-shadow: 0px -1px 2px 0px rgba(153,153,153,1);
			box-shadow: 0px -1px 2px 0px rgba(153,153,153,1);
			.title_pestana_h1{
				color:#e07134;
				font-weight:600; 
				font-size:40px
			}
		}
	}
	.title_pestana_invert{
		.title_pestana_container{
			background:#fff; 
			border-radius:0 0 20px 20px; 
			-webkit-box-shadow: 0px 2px 2px 0px rgba(153,153,153,1);
			-moz-box-shadow: 0px 2px 2px 0px rgba(153,153,153,1);
			box-shadow: 0px 2px 2px 0px rgba(153,153,153,1);
			.title_pestana_h1{
				color:#e07134;
				font-weight:100; 
				font-size:30px;
				padding-bottom:20px;
				text-align:left;
			}
		}
	}
	.title_gris{
		background:#d9d9d9;
		height: 20px;
		.title_gris_h1{
			color: #e07134; 
			font-weight: 600;
			margin-top:-50px;
			font-size: 40px!important;
		}
	}
	.title_brown{
		font-weight:300;
		margin-top: -20px;
    	height:40px;
		h3{
			background:@color_secundario;
			color: #fff; 
			font-weight:200;
			font-size:30px!important;
			margin: 0 0 10px 0;
		}
	}
	.title_gris_hr{
		border-bottom:solid 3px #d9d9d9;
		margin-top:-10px
	}

	.nosotros_quienes{
		background:#d9d9d9;     
		min-height: 600px;
		.quienes_0{
			margin-left:0
		}
		.quienes_text{
			margin-top:0;
			margin-left:0
		}
	}
	.nosotros_valores{
		.valor1{
			background:#d9d9d9;
			border-radius:0 24px 24px 0;
		}
		.valor2{
			background:#d9d9d9;
			border-radius:24px 0 0 24px;;
		}
		.img{
			margin-top: auto;
    		margin-bottom: auto;
			margin-left:auto;
			margin-right:auto;
			text-align:center;
		}
		.container_text{
			padding:30px;
			.title{
				color: #e07134;
				font-size:24px;
			}
			.text{color: #e07134;}
		}
	}

	.category{
		background: @color_primario;
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-o-transition: all .5s ease;
		transition: all .5s ease;
		.container_cat{
			.containr-border-circle{
				border:solid 4px #7c330a;
				.border-circle{
					background:#e07134;
					padding:10px;
					.container_img{
						background:#7c330a;
						border: solid 4px #7c330a;
						.cat{
							background-repeat: no-repeat;
							width: 70px;
							height: 70px;
							background-size: 70% 70%;
							background-position:center;
							-webkit-transition: all .5s ease;
							-moz-transition: all .5s ease;
							-ms-transition: all .5s ease;
							-o-transition: all .5s ease;
							transition: all .5s ease;

						}
					}
				}
			}
			.txt_border-circle{
				border: solid #fff;
				color:#7c330a;
				margin-left:-12px;
				background:#e07134;
				border: solid 4px #e07134;
			}
		
			&:hover{
				.containr-border-circle{border:solid 4px #fff;
					.border-circle{
						background:#e07134;
						padding:10px;
						.container_img{
							background:#fff;border: solid 4px #fff;
							.cat{
								background-repeat: no-repeat;
								width: 70px;
								height: 70px;
								-webkit-transform: scale(1.2);
								-moz-transform: scale(1.2);
								-o-transform: scale(1.2);
								-ms-transform: scale(1.2); 
								transform: scale(1.2);
							}
						}
					}
				}
				.txt_border-circle{
					color:#fff;
				}
			}
		}
	}

	.products{
		.container_product_detalle{
			padding-right:20px; 
			padding-left: 20px;
			.btn_ver{
				font-weight:800;
				padding:2px 10px;
				margin-left:3px;
				margin-bottom:-3px;
				color:#fff;
				background:@color_terciario;
			}
			.product_border{
				border:solid @color_primario;
				padding-right:2px;
				padding-bottom:6px;
				margin-left:10px;
				margin-top:10px;
				width:100%;
				z-index:1;
				.product_border_in{border: solid blue;
					border:solid @color_primario;
					background: #fff;
					margin-top: -10px;
    				margin-left:-10px;
    				padding:14px 0;
				    width:100%;
				    z-index:3
				    .product{
				    	background-repeat: no-repeat;
						background-size:cover;
						background-position:center;
				    }
				    .img_product{
				    	border: solid yellow;
				    }
				}
			}
			p{
				color:@color_terciario;
				font-size: 18px;
			}
		}
		a{
			.container_product{
				padding-right:20px; 
				padding-left: 20px;
				.btn_ver{
					font-weight:800;
					padding:2px 10px;
					margin-left:3px;
					margin-bottom:-3px;
					color:#fff;
					background:@color_terciario;
				}
				.product_border{
					border:solid @color_terciario;
					padding-right:2px;
					padding-bottom:6px;
					margin-left:10px;
					margin-top:10px;
					width:100%;
					z-index:1;
					.product_border_in{
						border:solid @color_terciario;
						background: #fff;
						margin-top: -10px;
	    				margin-left:-10px;
	    				padding:14px 0;
					    width:100%;
					    z-index:3
					    .product{ border:solid:green;
					    	background-repeat: no-repeat;
							background-size:40% 40%;
							background-position:center;
					    }
					    .img_product{
					    	height:200px;
					    	margin:16px 0;
					    	width:200px;
					    }
					}
				}
				p{
					color:@color_terciario;
					font-size: 18px;
				}
			}
		}
		&:hover{
			-webkit-transition: all .5s ease;
			-moz-transition: all .5s ease;
			-o-transition: all .5s ease;
			transition: all .5s ease;
			.container_product{
				.btn_ver{
					font-weight:400;
					background:@color_primario;
				}
				.product_border{
					border:solid @color_primario;
					.product_border_in{
						border:solid @color_primario;
						.product{
						}
					}
				}
				p{
					color:@color_primario;
				}
			}
		}
	}
	.mini{
		img{
			border:solid #fff;
			&:hover{
				border:solid @color_primario;
				margin-top:-4px;
				-webkit-transition: all .5s ease;
				-moz-transition: all .5s ease;
				-o-transition: all .5s ease;
				transition: all .5s ease;
			}
		}

	}

	.text-we{
		border:solid @color_secundario;;
	}

	.contacto{
		.padding-v-100;
		h1{
			color:@color_white;
			font-size:40px;
			font-weight:300
		}
		.form{
			.text{
				color:@color_secundario;
				font-size:20px;
				font-weight:500
			}
			.contain-input{
				padding:10px 0;
				input{
					.oswald;
					color:#fff;
					font-weight:100;
					width:90%;
					background:transparent;
					border:solid @color_primario;
					border-bottom:solid 2px @color_secundario;
					font-size:16px;
					padding:10px;
					&::-webkit-input-placeholder { 
						color:@color_secundario;
					}
					&:-ms-input-placeholder { 
						color:@color_secundario;
					}
					&::placeholder {
						color:@color_secundario;
						font-weight:400;
					}
					&::autocomplete{
						color:@color_white;
					}
				}
				input:focus {
					outline: none !important;
					border:1px solid @color_primario;
					-webkit-box-shadow: 0px 3px 1px -2px rgba(255,255,255,1);
					-moz-box-shadow: 0px 3px 1px -2px rgba(255,255,255,1);
					box-shadow: 0px 3px 1px -2px rgba(255,255,255,1);
				}
				
			}
			.send{
			    background-color:@color_secundario!important;
			    color: @color_white;
			    margin-top: 50px;
			    padding: 15px 40px;
			}
		}

		.datos{
			.titles{
				color:@color_white;
				font-size:14px;
				font-weight:300;
			}
			.dates{
				color:@color_secundario;
				font-size:14px;
				font-weight:500;
			}
		}
	}

	.name{
		font-size:25px!important;padding: 0 40px; margin-left:-3px; font-weight:400
	}

	/*modificacion*/
	p{
		margin:0;
		padding:0
	}
	.uk-search-default .uk-search-input{
		border:solid transparent;
	}

	.btn_login{
		.pad-marg-0;
		a{	
			background:transparent;
			border:solid transparent;
			color: @color_primario;
			line-height:20px;
			.pad-marg-0;
			&:hover{
				border:solid transparent;
				color:orange;
				text-decoration:underline;
			}
		}
	}

	footer{
		.title_footer{
			border-top:solid #7c330a;
			border-bottom:solid #7c330a;
			color:#7c330a; 
			font-size:16px;
			padding:10px 0;
		}
		.menu_footer{
			li{
				list-style:none;
				a{
					color:#7c330a;
					font-size:12px
				}
			}
		}
	}



/*  ---------- GENERALES    */
	.uk-pagination li{
		padding-left: 5px;
	}
	.uk-pagination a{
		padding: 2px 10px;
		border-radius: 100%;
		background: white;
		border: @color_primario 1px solid; 
		color: @color_primario;
	}
	.uk-pagination .uk-active,
	.uk-pagination a:hover{
		background: @color_primario;
		color: white;
		border: @color_primario 1px solid;
	}
	.pagination-arrows{
		background: none!important;
		border: none!important;
		color: @color_primario!important;
	}
	#cotizacion-fixed{
		top:0;
		right:0px;
		width:30px;
		z-index: 1011;
	}
	#cotizacion-fixed div{
		width: 40px;
		position: fixed;
		right: 0;
		top: 50%;
		margin-top: -150px;
	}
	#cotizacion-fixed img{
		box-shadow: 0 0 20px white;
		border-radius: 10px 0 0 10px;
	}
	a{
		text-decoration: none!important;
	}
	a,
	a:hover,
	.uk-button,
	.uk-button:hover,
	.transicion,
	.transicion:hover{
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-o-transition: all .5s ease;
		transition: all .5s ease;
	}
	h1{
		font-size: 1.2em;
	}
	h2{
		font-size: 1.1em;
	}
	h3,h4,h5,h6{
		font-size: 1em;
	}
	.alpha0{
		opacity: 0;
	}
	.claro,
	.alpha-1-5:hover{
		opacity:.6;
	}
	.oscuro,
	.alpha-1-0:hover{
		opacity:0;
	}
	.alpha-1-0,
	.alpha-1-5,
	.claro:hover,
	.oscuro:hover,
	.alpha1hover:hover{
		opacity: 1;
	}
	.margin-0{
		margin: 0;
	}
	.margin-left-0{
		margin-left: 0;
	}
	.margin-top-5{
		margin-top: 5px;
	}
	.margin-top-10{
		margin-top: 10px;
	}
	.margin-top-20{
		margin-top: 20px;
	}
	.margin-top-25{
		margin-top: 25px!important;
	}
	.margin-top-50{
		margin-top: 50px;
	}
	.margin-top-100{
		margin-top: 100px;
	}
	.margin-top-150{
		margin-top: 150px;
	}
	.margin-top-menos-150{
		margin-top: -150px;
	}
	.margin-top-menos-100{
		margin-top: -100px;
	}
	.margin-top-menos-50{
		margin-top: -50px;
	}
	.margin-top-menos-20{
		margin-top: -20px;
	}
	.margin-top-menos-10{
		margin-top: -10px;
	}
	.margin-bottom-50{
		margin-bottom: 50px;
	}
	.margin-bottom-80{
		margin-bottom: 80px;
	}
	.margin-bottom-120{
		margin-bottom: 120px;
	}
	.margin-h-5{
		margin-left: 5px;
		margin-right: 5px;
	}
	.margin-v-20{
		margin-bottom: 20px;
		margin-top: 20px;
	}
	.margin-v-25{
		margin-bottom: 25px;
		margin-top: 25px;
	}
	.margin-v-50{
		margin-bottom: 50px;
		margin-top: 50px;
	}
	.margin-v-70{
		margin-bottom: 70px;
		margin-top: 70px;
	}
	.margin-right-20{
		margin-right: 20px;
	}
	.margin-right-menos-50{
		margin-right: -45px;
	}
	.margin-right-menos-20{
		margin-right: -15px;
	}
	.padding-30{
		padding:30px;
	}
	.padding-40{
		padding:40px;
	}
	.padding-60{
		padding:60px;
	}
	.padding-bottom-10{
		padding-bottom: 10px;
	}
	.padding-bottom-20{
		padding-bottom: 20px;
	}
	.padding-bottom-50{
		padding-bottom: 50px;
	}
	.padding-bottom-60{
		padding-bottom: 60px;
	}
	.padding-bottom-100{
		padding-bottom: 100px;
	}
	.padding-bottom-200{
		padding-bottom: 200px;
	}
	.padding-top-5{
		padding-top: 5px;
	}
	.padding-top-10{
		padding-top: 10px;
	}
	.padding-top-20{
		padding-top: 20px;
	}
	.padding-top-30{
		padding-top: 30px;
	}
	.padding-top-40{
		padding-top: 40px;
	}
	.padding-top-50{
		padding-top: 50px;
	}
	.padding-top-60{
		padding-top: 60px;
	}
	.padding-top-90{
		padding-top: 90px;
	}
	.padding-top-100{
		padding-top: 100px;
	}
	.padding-v-3{
		padding-bottom: 3px;
		padding-top: 3px;
	}
	.padding-v-5{
		padding-bottom: 5px;
		padding-top: 5px;
	}
	.padding-v-10{
		padding-bottom: 10px;
		padding-top: 10px;
	}
	.padding-v-20{
		padding-bottom: 20px;
		padding-top: 20px;
	}
	.padding-v-30{
		padding-bottom:30px;
		padding-top: 30px;
	}
	.padding-v-50{
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.padding-v-60{
		padding-bottom: 60px;
		padding-top: 60px;
	}
	.padding-v-100{
		padding-bottom: 100px;
		padding-top: 100px;
	}
	.padding-left-0{
		padding-left:0;
	}
	.padding-left-10{
		padding-left: 10px;
	}
	.padding-left-20{
		padding-left: 20px;
	}
	.padding-left-50{
		padding-left: 50px;
	}
	.padding-left-100{
		padding-left: 100px;
	}
	.padding-right-0{
		padding-right:0;
	}
	.padding-right-10{
		padding-right: 10px;
	}
	.padding-right-20{
		padding-right: 20px;
	}
	.padding-right-50{
		padding-right: 50px;
	}
	.padding-h-5{
		padding-left: 5px;
		padding-right: 5px;
	}
	.padding-h-10{
		padding-left: 10px;
		padding-right: 10px;
	}
	.padding-h-20{
		padding-left: 20px;
		padding-right: 20px;
	}
	.padding-h-30{
		padding-left: 30px;
		padding-right: 30px;
	}
	.padding-h-50{
		padding-left: 50px;
		padding-right: 50px;
	}
	.padding-h-70{
		padding-left: 70px;
		padding-right: 70px;
	}
	.padding-0{
		padding: 0px;
	}
	.padding-5{
		padding:5px;
	}
	.padding-10{
		padding:10px;
	}
	.padding-15{
		padding:15px;
	}
	.padding-20{
		padding:20px;
	}
	.padding-30{
		padding:30px;
	}
	.padding-50{
		padding:50px;
	}
	.min-height-150px{
		min-height: 150px;
	}
	.min-height-250px{
		min-height: 250px;
	}
	.max-height-300px{
		max-height: 300px;
	}
	.min-height-500px{
		min-height: 500px;
	}
	.max-width-200{
		max-width: 200px;
	}
	.max-width-600{
		max-width: 600px;
	}
	.pointer{
		cursor: pointer;
	}
	#map{
		min-height: 400px;
	}
	.text-5{
		font-size: .5em;
	}
	.text-6{
		font-size: .6em;
	}
	.text-xs,
	.text-7{
		font-size: .7em;
	}
	.text-8{
		font-size: .8em;
	}
	.text-sm,
	.text-9
	{
		font-size: .9em;
	}
	.text-11
	{
		font-size: 1.1em;
	}
	.text-lg{
		font-size: 1.2em;
	}
	.text-xl{
		font-size: 1.5em;
	}
	.text-xxl{
		font-size: 2em;
	}
	.text-xxxl{
		font-size: 3em;
	}
	.text-v{
		writing-mode: vertical-lr;
		transform: rotate(180deg);
	}
	.z1{
		z-index: 1;
	}
	.z2{
		z-index: 2;
	}
	textarea{
		resize:none;
		margin:0;
		padding:0;
	}

	/* BOTONES */
	.uk-button{
		font-weight: 700;
		text-transform: none;
	}

	/* Danger */
	.uk-button-danger{
		background: #f00;
		color: #fff;
	}
	.uk-button-danger:active,
	.uk-button-danger.uk-active,
	.uk-button-danger:hover,
	.uk-button-danger:focus{
		background: transparent;
	}

	/*  Blanco */
	.uk-button-white {
	  background-color: #fff;
	  color: #333;
	  border: 1px solid #fff;
	}
	/* Hover + Focus */
	.uk-button-white:hover,
	.uk-button-white:focus,
	.uk-button-white:active,
	.uk-button-white.uk-active {
	  background-color: transparent;
	}

	/* Personal */
	.uk-button-personal {
		  background: @color_primario;
		  color: white;
		  border: solid 2px @color_primario;
	}
	/* Hover + Focus */
	.uk-button-personal:active,
	.uk-button-personal.uk-active,
	.uk-button-personal:hover,
	.uk-button-personal:focus {
		  background-color: transparent;
		  border: solid 2px @color_primario;
		  color: @color_primario;
	}


	.uk-lightbox {
		background: rgba(0,0,0,.7)!important;
	}
	.uk-notification-message{
		background: none!important;
		color: white;
		text-align: center;
	}
	.uk-notification-message div{
		padding-top: 20px;
		padding-bottom: 20px;
	}

/* ----------- CHAT DE WHATSAPP  */
	#whatsapp-plugin{
		background: url(../img/design/whats-bg.jpg);
		box-shadow: 0 0 10px rgba(0,0,0,0.3);
		width: 300px;
		position: fixed;
		bottom: 0;
		right: 30px;
		border-radius: 10px 10px 0 0;
	}
	#whats-show{
	    background-color: rgb(9, 94, 84);
		box-shadow: 0 0 10px rgba(0,0,0,0.3);
		color: white;
		position: fixed;
		bottom: 30px;
		right: 30px;
		padding: 10px 13px;
	}
	#whats-head{
	    background-color: rgb(9, 94, 84);
		border-radius: 10px 10px 0 0;
		line-height: 18px;
	}
	#whats-body-1{
		box-sizing: border-box;
		height: 120px;
	}
	#whats-body-2{
		background: url(../img/design/whats-globo.png) no-repeat center left;
		box-sizing: border-box;
		font-size: 13px;
		height: 100px;
		padding: 33px 0 0 35px;
		height: 120px;
	}
	#whats-footer{
		background: white;
		height: 60px;
	}
	#button-whats{
		background: rgb(79, 206, 93);
		color: white;
		border-radius: 50px;
	}
	/* SCROLL */
	::-webkit-scrollbar {
	  width: 8px;
	}
	/* Track */
	::-webkit-scrollbar-track {
	  box-shadow: inset 0 0 0 transparent; 
	  border-radius: 8px;
	  background: transparent;
	}
	/* Handle */
	::-webkit-scrollbar-thumb {
	  border-radius: 8px;
	  background: #CCC;
	}
	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
	  background: transparent; 
	}

/* ----------- XML SITE MAP */
	urlset{
		background: url(../img/design/logo.png) no-repeat top center @color_primario;
		padding-top: 110px;
	}
	url {
		background: #fff;
		display: block;
		padding: 10px
	}
	loc{
		display: block;
		margin: 0 auto;
		width: 1200px;
	}

/* ----------- MEDIA QUERY  */
	@media (min-width: 1800px){
	}
	@media (max-width: 1600px){/*Tamaño xl*/
	}
	@media (max-width: 1400px){
	}
	@media (max-width: 1200px){/*Tamaño l*/
		.uk-position-small {
		    margin:0!important
		}
	}
	@media (max-width: 960px){ /*Tamaño m*/
		body{font-size: 12px;}
		.for_pc{
			display: none;
		}
		.for_movil{
			display: block;
		}
		.title_gris .title_gris_h1{
			font-size:30px!important
		} 
		*+.uk-grid-margin, .uk-grid+.uk-grid, .uk-grid>.uk-grid-margin {
		    margin-top:0;
		}
		.name{
			padding: 0;
		}
		.padding-h-50{
			padding:0;
			padding-top:0;
		}
		.menu_hamburguesita{
			position:fixed;
			bottom:20px;
			right:20px;
			z-index: 999;
			span{
				display:none
			}
		}
		.uk-offcanvas-bar li ul{
			margin-top:0!important;
		}
		.uk-offcanvas-bar li ul li{
			display:block; 
		}
		.products a .container_product .btn_ver{
			padding: 10px 10px;
			margin-top: 26px;
		}

		.nosotros_quienes{
			.quienes_0 div{
				padding-left:0!important;
			}
			.quienes_text{
				margin-top:0;
				margin-left:0;
				p{
					padding:0 30px;
				}
			}
		}
		.nosotros_valores{
			.valor1{
				border-radius:0;
			}
			.valor2{
				border-radius:0;
				margin-top: -20px;
			}
		}

	}
	@media (max-width: 820px){
		.products a .container_product {
		    padding-right:14px;
		    margin-left:0;
		    padding-left:0;
		}
		.padding-v-20{
			margin-bottom: 20px!important;
		}
		footer{
			.padding-h-50{
				padding: 0 10px 0 40px;
			}
			.menu_footer li a {
			    font-size: 20px;
			
			}
		}
		.contacto{
			padding:20px;
			.padding-movil{
				margin-top:50px;
			}
		}
	}
	@media (max-width: 640px){/* Tamaño s*/
	}
	@media (max-width: 550px){
	}

