	#whatsapp-plugin{
		background: url(whats-bg.jpg);
		box-shadow: 0 0 10px rgba(0,0,0,0.3);
		width: 300px;
		position: fixed;
		bottom: 0;
		right: 30px;
		border-radius: 10px 10px 0 0;
	}
	#whats-show{
	    background-color: rgb(9, 94, 84);
		box-shadow: 0 0 10px rgba(0,0,0,0.3);
		color: white;
		position: fixed;
		bottom: 30px;
		right: 30px;
		padding: 10px 13px;
	}
	#whats-head{
	    background-color: rgb(9, 94, 84);
		border-radius: 10px 10px 0 0;
		line-height: 18px;
	}
	#whats-body-1{
		box-sizing: border-box;
		height: 120px;
	}
	#whats-body-2{
		background: url(whats-globo.png) no-repeat center left;
		box-sizing: border-box;
		font-size: 13px;
		height: 100px;
		padding: 33px 0 0 35px;
		height: 120px;
	}
	#whats-footer{
		background: white;
		height: 60px;
	}
	#button-whats{
		background: rgb(79, 206, 93);
		color: white;
		border-radius: 50px;
	}